.card-title {
    background-color: rgba(63, 144, 252);
    text-align: center;
    margin-bottom: 0;
    color: white;
    cursor: pointer;
}

.card-title:hover::after{
    content: 'Click to JOIN';
    position: absolute;
    padding: 5px;
    border: 1px solid gray;
    background: rgb(56, 55, 55);
    font-size: 14px;
}
